@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style  */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navbar  */

.navber{
    background-color: #1A0B2E;
}

.nav-container{
    display: flex ;
    justify-content: space-between;
    max-width: 1200px;
    height: 92px;   
    align-items: center;
    margin: 0 auto;
    color: #FFFFFF;
}
#tech-wave{
    width: 219px;
    height: 32px;
}
nav button{
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    padding: 12px 16px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 100%, #9100F8 100%);
}

nav button:hover {
  transform: translateX(5px);
  
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
/* bannar section  */
.bannar{
    width: 100%;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-position: center;
}
.bannar-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* .bannar-contant{
 display: flex;
 justify-content: center;
} */

.bannar-img{
    position: relative;
    width: 350px;
    height: 350px;

}
.bannar-img {
    transform: translateY(-10px);
    transform: translateX(97px);
}
.bannar-img-1 {
width: 100%;

}

.bannar-img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 116px;
    transform: translate(-50%, -50%);
}
.bannar-img-3{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 60px;
}

